#title {
    text-align: center;
}

#form-container {
    display: flex;
    justify-self: center;
    border-style: none;
    border-width: 4px;
    background-color: white;
    width: 650px;
    height: 800px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


body {
background-image: url(background.png);
}

