
:root{
    --color-green: rgb(58, 218, 151);
    --color-grey:  rgb(133, 133, 133);
}

#header {
    text-align: center;
    background-color: white;
    width: 650px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: sans-serif;
    font-size: 1rem;
}

#description {
font-size: 1.2rem;
font-style: italic;
color: var(--color-green);
}

#form-container {
    display: flex;
    justify-self: center;
    border-style: none;
    border-width: 4px;
    background-color: white;
    width: 900px;
    height: 1450px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: sans-serif;
    font-size: 1rem;
}

#survey-form {
    line-height: 40px;
    margin: 50px auto;
}


#gender-label {
    color: var(--color-grey);
}

#dropdown {
    width: 817px;
    height: 35px;
    border-radius: 4px;
    background-color: white;
    color: var(--color-grey);
}

#checkbox {
    width: auto;
}

#checkbox-label {
    color: var(--color-grey);
}

#comments {
    width: 100%;
    min-height: 120px;
    resize: vertical;
    font-family: sans-serif;
    color: var(--color-grey);
}

#submit {
    width: 100%;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: white;
    background: var(--color-green);
    padding: 1rem;
    margin-top: 2.5rem;
    cursor: pointer;
    border-radius: 7px;
}

#coloured-p {
    color: var(--color-green);;
}

label {
    color: var(--color-green);
}

input {
    width: 800px;
}

span {
    color: red;
}

p {
    margin: 0px;
}

body {
background-image: url(background.png);
}

