
#header {
    text-align: center;
    background-color: white;
    width: 650px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: sans-serif;
    font-size: 1rem;
}

#description {
font-size: 1.2rem;
font-style: italic;
color: rgb(58, 218, 151);
}

#form-container {
    display: flex;
    justify-self: center;
    border-style: none;
    border-width: 4px;
    background-color: white;
    width: 900px;
    height: 800px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    font-family: sans-serif;
    font-size: 1rem;
}

#survey-form {
    line-height: 40px;
    margin: 50px auto;
}

label {
    color: rgb(58, 218, 151);
}

input {
    width: 800px;
}

span {
    color: red;
}

p {
    margin: 0px;
}

body {
background-image: url(background.png);
}

